In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('majorProject.csv')

In [6]:
df.head()

   S.NO            NAME  CT1  CT2  UNIVERSITY MARKS           FEEDBACK
0     1      Yash Sinha   18    0                79  Very Satisfied
1     2   Arpita Tiwari   20   19                75  Very Satisfied
2     3     Lalit Kumar   10   16                72               Fair
3     4  Vibhuti Mishra   18   17                81          Satisfied
4     5    Vibha Mishra   12   14                71          Satisfied